## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
# from config import g_key
import requests
import os
from dotenv import load_dotenv
load_dotenv()

# Configure gmaps API key
# gmaps.configure(api_key=g_key)

g_key = os.getenv("GMaps_Key")

gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descrition
0,0,Sehithwa,BW,-20.4667,22.7167,56.64,28,0,7.00,clear sky
1,1,Greensburg,US,40.3015,-79.5389,69.91,93,75,0.00,broken clouds
2,2,Hermanus,ZA,-34.4187,19.2345,38.80,73,0,6.58,clear sky
3,3,Kedrovyy,RU,56.1667,91.8167,67.87,88,51,6.93,broken clouds
4,4,Georgetown,MY,5.4112,100.3354,80.89,87,40,4.61,thunderstorm

In [3]:
city_data_df = city_data_df.rename({'Current Descrition': 'Current Description'}, axis='columns')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sehithwa,BW,-20.4667,22.7167,56.64,28,0,7.00,clear sky
1,1,Greensburg,US,40.3015,-79.5389,69.91,93,75,0.00,broken clouds
2,2,Hermanus,ZA,-34.4187,19.2345,38.80,73,0,6.58,clear sky
3,3,Kedrovyy,RU,56.1667,91.8167,67.87,88,51,6.93,broken clouds
4,4,Georgetown,MY,5.4112,100.3354,80.89,87,40,4.61,thunderstorm

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Georgetown,MY,5.4112,100.3354,80.89,87,40,4.61,thunderstorm
5,5,Norman Wells,CA,65.2820,-126.8329,73.44,46,20,10.36,few clouds
6,6,Tomatlan,MX,19.9333,-105.2500,81.66,75,98,4.70,overcast clouds
14,14,Sao Filipe,CV,14.8961,-24.4956,75.49,75,11,6.29,few clouds
20,20,Atuona,PF,-9.8000,-139.0333,77.05,73,14,12.68,few clouds
22,22,Sadri,IN,25.1833,73.4333,77.13,89,55,11.05,broken clouds
30,30,Mirwah,YE,13.9228,43.9176,72.52,63,7,3.89,clear sky
35,35,Wilmington,US,34.2257,-77.9447,84.11,76,0,1.01,clear sky
36,36,Peniche,PT,39.3558,-9.3811,70.09,94,0,5.41,clear sky
39,39,Albany,US,42.6001,-73.9662,76.46,66,100,2.48,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                303
City                   303
Country                303
Lat                    303
Lng                    303
Max Temp               303
Humidity               303
Cloudiness             303
Wind Speed             303
Current Description    303
dtype: int64

In [7]:
# 4a. (option 2)
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# Adding the code to create a "clean version"
clean_df = preferred_cities_df.dropna()
print(clean_df)

     City_ID            City Country      Lat       Lng  Max Temp  Humidity  \
4          4      Georgetown      MY   5.4112  100.3354     80.89        87
5          5    Norman Wells      CA  65.2820 -126.8329     73.44        46
6          6        Tomatlan      MX  19.9333 -105.2500     81.66        75
14        14      Sao Filipe      CV  14.8961  -24.4956     75.49        75
20        20          Atuona      PF  -9.8000 -139.0333     77.05        73
..       ...             ...     ...      ...       ...       ...       ...
704      704          Murgab      TM  37.4966   61.9714     80.11        30
706      706         Banamba      ML  13.5500   -7.4500     77.70        71
707      707      Bloomsburg      US  41.0037  -76.4549     73.58        91
708      708          Japura      ID  -0.3167  102.3500     77.02        88
709      709  Cuajinicuilapa      MX  16.4667  -98.4167     80.69        79

     Cloudiness  Wind Speed Current Description
4            40        4.61        thunderstorm
5            20       10.36          few clouds
6            98        4.70     overcast clouds
14           11        6.29          few clouds
20           14       12.68          few clouds
..          ...         ...                 ...
704         100        7.34     overcast clouds
706          17        9.22          few clouds
707         100        3.85     overcast clouds
708         100        1.61     overcast clouds
709         100        5.41     overcast clouds

[303 rows x 10 columns]

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Georgetown,MY,80.89,thunderstorm,5.4112,100.3354,
5,Norman Wells,CA,73.44,few clouds,65.2820,-126.8329,
6,Tomatlan,MX,81.66,overcast clouds,19.9333,-105.2500,
14,Sao Filipe,CV,75.49,few clouds,14.8961,-24.4956,
20,Atuona,PF,77.05,few clouds,-9.8000,-139.0333,
22,Sadri,IN,77.13,broken clouds,25.1833,73.4333,
30,Mirwah,YE,72.52,clear sky,13.9228,43.9176,
35,Wilmington,US,84.11,clear sky,34.2257,-77.9447,
36,Peniche,PT,70.09,clear sky,39.3558,-9.3811,
39,Albany,US,76.46,overcast clouds,42.6001,-73.9662,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [11]:
len(hotel_df)

303

In [12]:
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Georgetown,MY,80.89,thunderstorm,5.4112,100.3354,Cititel Penang
5,Norman Wells,CA,73.44,few clouds,65.2820,-126.8329,Heritage Hotel
6,Tomatlan,MX,81.66,overcast clouds,19.9333,-105.2500,El Salvial
14,Sao Filipe,CV,75.49,few clouds,14.8961,-24.4956,Hotel Xaguate
20,Atuona,PF,77.05,few clouds,-9.8000,-139.0333,Villa Enata
22,Sadri,IN,77.13,broken clouds,25.1833,73.4333,Chandra Hill Resort
30,Mirwah,YE,72.52,clear sky,13.9228,43.9176,عاصم المليكي
35,Wilmington,US,84.11,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
36,Peniche,PT,70.09,clear sky,39.3558,-9.3811,Hotel Star inn Peniche
39,Albany,US,76.46,overcast clouds,42.6001,-73.9662,
42,Lagoa,PT,72.41,clear sky,39.0500,-27.9833,Casa Das Faias
45,Ribeira Grande,PT,73.76,few clouds,38.5167,-28.7000,Quinta da Meia Eira
46,Praya,CV,77.54,broken clouds,14.9215,-23.5087,LT Aparthotel
47,Westport,US,79.09,clear sky,41.1415,-73.3579,The Westport Inn
55,Bubaque,GW,79.21,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Georgetown,MY,80.89,thunderstorm,5.4112,100.3354,Cititel Penang
5,Norman Wells,CA,73.44,few clouds,65.2820,-126.8329,Heritage Hotel
6,Tomatlan,MX,81.66,overcast clouds,19.9333,-105.2500,El Salvial
14,Sao Filipe,CV,75.49,few clouds,14.8961,-24.4956,Hotel Xaguate
20,Atuona,PF,77.05,few clouds,-9.8000,-139.0333,Villa Enata
22,Sadri,IN,77.13,broken clouds,25.1833,73.4333,Chandra Hill Resort
30,Mirwah,YE,72.52,clear sky,13.9228,43.9176,عاصم المليكي
35,Wilmington,US,84.11,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
36,Peniche,PT,70.09,clear sky,39.3558,-9.3811,Hotel Star inn Peniche
42,Lagoa,PT,72.41,clear sky,39.0500,-27.9833,Casa Das Faias
45,Ribeira Grande,PT,73.76,few clouds,38.5167,-28.7000,Quinta da Meia Eira
46,Praya,CV,77.54,broken clouds,14.9215,-23.5087,LT Aparthotel
47,Westport,US,79.09,clear sky,41.1415,-73.3579,The Westport Inn
55,Bubaque,GW,79.21,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
56,Nhulunbuy,AU,83.01,scattered clouds,-12.2333,136.7667,East Arnhem Real Estate

In [14]:
len(clean_hotel_df)

283

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))